@media (min-width: 768px) {
  section.container-01 {  
    background-image: url(./imagens/london.jpg);
    height: 620px;
  }

  div.travel-world {
    background-color: var(--white-color);
    width: 65%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.from-to {
    padding-top: 20px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
  }

  div input#from, input#to {
    width: 27vw;
  }

  section.container-02 {
    max-width: 90%;
  }

  .gallery {
    display: grid;  
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img2 img3"
    "img1 img1 img4 img5"
    "img1 img1 img4 img5";
    grid-gap: 0.5em; 
  }

  .gallery-img {
    width: 100%;
    height: 100%; 
  }

  .img1 {  
   grid-area: img1;
  }

  .img2 {
   grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

  .img4 {
    grid-area: img4;
  }

  .img5 {
    grid-area: img5;
  }

  div.content03-imgs{    
    display: flex;
    gap: 15px;    
  }
  
} 
@media (min-width: 1366px){
  div input#from, input#to {
    width: 29vw;
  }  

  section.container-02, 
  section.container-03, 
  section.container-04,
  section.container-05{
    max-width: 80%;
  }

  .message input {
    width: 97%;
  }
}